// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// animation section
.header {
  -webkit-animation-duration: .0001s;
  -webkit-animation-name: driveby;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
 
@-webkit-keyframes driveby {
  from {
    text-shadow: 1000px 0 20px #000;
  }
 
  to {
    text-shadow: -250px 0 20px #AA0;
  }
}

@-webkit-keyframes sway {
  0% { text-shadow: 1000px 0 20px #000; }
  70% { text-shadow: -250px 0 10px #AA0; }
  100% { text-shadow: 0px 0 0px #AA0; }

}

.header:hover {
  //-webkit-animation-play-state: paused;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: sway;
  -webkit-animation-iteration-count: 1;
}


// end of animation section

.top img { 
  margin-left:3em; 
  width:2em;
  margin-right:0em;
  margin-bottom:-.05em;
}

div.top span.header {
  color:#AA0;
  font-size:2em;
  font-weight:bold;
}

.top {
  padding-top:1em;
}

.new {
  padding-left:3em;
}

.new a {
  font-size:1.5em;
  font-weight:bold;
  text-decoration:none;
}

.new a:link {color:#FAD052;}
.new a:visited {color:#FAD052;}
.new a:hover, h1.show_header { color:white; text-shadow:0px 0px 4px #AF0;}

div.top sblack.new {
  padding-left:2em;
}

div.content { margin-left:5%; }
div.content,div.headers,div.rows {
  min-width:960px;
  resize:none;
}

div.rows {
  clear:both;
  margin-bottom:1em;
  background-color:#555;
  border-radius:.5em;
  padding:.25em, 0em, 0em, 1em;
}

.headers {
  text-shadow: 0px 1px 1px #B3B3A1;
  color: #6B6B60;
  font-weight:bold;
  //color:#000;
  letter-spacing:2px;
}

.title {
  font-weight:bold;
  color:#FAD052;
  text-shadow:0px 0px 3px #000;
}

div.hsub,div.sub {
  float:left;
  width:10%;
}

div.htitle,div.title {
  float:left;
  width:10%;
}

div.hbody,div.body {
  float:left;
  width:33%;
}

div.hdate,div.date {
  float:left;
  width:15%;
}

div.hactions,div.actions {
  float:left;
  width:30%;
}

.show_margin {
  margin-left:2em;
}
