// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.top {
  width:100%;
  background-color:#777;
  padding-top:2em;
  padding-bottom:.5em;
  margin-bottom:1em;
  -webkit-box-shadow: 0px 3px 3px 0px black
}

div.top span.header {
  padding-left:5%;
  color:#ddd;
  font-size:2em;
  font-weight:bold;
}

div.top span.new {
  padding-left:2em;
}

div.content { margin-left:5%; }
div.content, div.headers, div.rows {
  width:100%;
}

div.headers {
  font-weight:bold;
}

div.rows {
  clear:both;
  margin-bottom:1em;
  background-color:#555;
  border-radius:.5em;
  padding:.25em, 0em, 0em, 1em;
}

div.hsub, div.sub {
  float:left;
  width:10%;
}

div.htitle, div.title {
  float:left;
  width:10%;
}

div.hbody, div.body {
  float:left;
  width:33%;
}

div.hdate, div.date {
  float:left;
  width:15%;
}

div.hactions, div.actions {
  float:left;
  width:30%;
}



